.navbar {
  margin-bottom: 0;
  border-radius: 0 !important;
}

.jumbotron {
  background: #000 url(/images/wilderness.jpg) center -56px no-repeat;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.jumbotron h1, .jumbotron p {
  color: rgba(255, 255, 255, 0.36);
}

.jumbotron .container {
  background: rgba(0, 0, 0, 0.24);
  padding-top: 24px;
  padding-bottom: 24px;
}

#footer {
  color: #ccc;
  background: #333;
  border-top: 1px solid #000;
  margin-top: 3em;
  padding-bottom: 3em;
}

#footer img, #footer p {
  margin-right: 1em;
}

#footer a, #footer a:visited {
  color: #ccc;
}

#footer h3 {
  text-shadow: 1px 1px #000;
}

#footer ul {
  list-style: none;
  padding: 10px 0 10px 20px;
  border-left: 1px solid #545454;
  margin-top: 44px;
}
