---
layout: default
title: Jordan Bach uses code to solve problems
---

<div class="page-header">
  <h1>Jordan Bach <small>Intuitive :: Inquisitive :: Intelligent</small></h1>
</div>

<div class="row" style="clear: both">

  <div class="col-md-8">
    <ul class="posts">
      {% for post in paginator.posts %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>

    <p class="text-center">
      {% if paginator.previous_page %}<a href="{{ paginator.previous_page_path }}">Previous Page</a>{% endif %}
      {% if paginator.next_page %}<a href="{{ paginator.next_page_path }}">Next Page</a>{% endif %}
    </p>
  </div>

  <div class="col-md-4">
    <div class="well">
      <h4>Favorite outdoor activities</h4>

      <ul>
      <li>Basketball</li>
      <li>Backpacking</li>
      <li>Cycling</li>
      <li>Running</li>
      <li>Kayaking</li>
      </ul>
    </div>

    <div class="well">
      <h4>Top 10 ways I will get on your nerves*</h4>

      <ul>
      <li>I like to tell cheesy jokes</li>
      <li>I laugh at my own jokes</li>
      </ul>

      <p class="text-muted">
      * If you have to ask why there are only 2 reasons in this list,
      then you just missed one of my cheesy jokes.
      </p>
    </div>

    <div class="well">
      <h4>I&#39;ve made a few websites</h4>

      <ul>
      <li><a href="http://guitarslingertx.com/">Guitar Slinger</a> - If you live in Dallas, you want this man to fix your guitars, especially if they&#39;re of the vintage variety.</li>
      </ul>
    </div>

    <div class="well">
      <h4>I can be professional</h4>

      <p>I work for AutoRevo.</p>

      <p>In the past I have worked for myself, ReelFX, VisualApp, Berklee College of Music MP&amp;E department.</p>
    </div>
  </div>
</div>

